/* ESTILOS DE TODA LA PAGINA */
@font-face {
    font-family: 'Century Gothic';
    src: url('fonts/CenturyGothic.ttf') format('truetype');
  }
  
body{
    width: 1440;
    height: 4421.560546875;
    gap: 60px;
    opacity: 1;
    background-color: #F5F5F7;
    font-family: 'Century Gothic', sans-serif;

}







  

