/* ESTILOS DE TODA LA PAGINA */
body{
    max-width: 1440px;
    margin: 0 auto;
    gap: 60px !important;
    opacity: 1;
    background-color: #F5F5F7;
    margin: 0 auto
}

body {
  overflow-x: hidden;
}

body {
  font-family: 'Quicksand', sans-serif;
}


.separacionB {
  width: 100vw;             /* Ocupa todo el ancho de la ventana del navegador */
  height: 8px;              /* Altura del separador */
  background-color: white;  /* Color del separador */
  margin: 0;                /* Sin margen */
  padding: 0;
  position: relative;       /* Asegura que respete el flujo */
  left: 50%;              
  transform: translateX(-50%);
}












  

